@charset "UTF-8";
.navbar {
  width: 100%;
}
.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container-fluid .imgnav {
  margin-left: 40px;
  max-height: 40px;
}
@media screen and (max-width: 450px) {
  .navbar .container-fluid .imgnav {
    height: 25px;
  }
}
.navbar .container-fluid .navbar-toggler {
  color: white;
  margin-right: 30px;
}
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  color: white;
}
.navbar .container-fluid .navbar-nav {
  text-align: right;
  justify-content: space-between;
}
.navbar .container-fluid .navbar-nav .nav-link {
  text-align: end;
  margin-right: 10px;
  font-size: 15px;
  font-family: raleway;
}

/*INDEX*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

main .principal {
  width: 100%;
  height: 100%;
}
main .principal .contenedorPortada {
  margin-top: 50px;
  margin-bottom: 2px;
  background-image: url(../img/bannerdesktop_portada.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  main .principal .contenedorPortada {
    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  main .principal .contenedorPortada {
    margin-top: 30px;
  }
}
main .principal .contenedorPortada #logoRdt {
  width: 80%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  main .principal .contenedorPortada #logoRdt {
    width: 80%;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  main .principal .contenedorPortada #logoRdt {
    width: 60%;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  main .principal .contenedorPortada #logoRdt {
    width: 60%;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }
}
main .portada {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .portada #portadacontainer {
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

/*BIO*/
body .page-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body .page-title .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  body .page-title .title {
    font-size: 2rem;
  }
}
body #carrusel-bio {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
body #carrusel-bio #carouselExample {
  justify-content: center;
  width: 90%;
  height: auto;
}
body #carrusel-bio #carouselExample .slide-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
}
body main {
  margin-bottom: 60px;
}
body main .bio-slides-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  height: auto;
}
body main .bio-slide {
  width: 90%;
  height: auto;
  margin-top: 5px;
}

/*MÚSICA*/
.zoom:hover {
  transform: scale(0.9);
  transition: transform 0.3s;
}

body .page-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body .page-title .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  body .page-title .title {
    font-size: 2rem;
  }
}
body main {
  display: grid;
  justify-items: center;
}
body main .section-title {
  font-family: raleway;
  font-size: 1rem;
}
@media screen and (max-width: 450px) {
  body main .section-title {
    font-size: 0.7rem;
  }
}
body main .portadas-albums {
  margin-top: 30px;
  width: 80%;
  height: auto;
}
body main .portadas-albums .font {
  font-family: raleway;
}
body main .portadas-albums .card-title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
body .ahoraonunca {
  display: grid;
  justify-items: center;
  margin-bottom: 40px;
}
body .ahoraonunca .card {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 80%;
  height: auto;
}
body .ahoraonunca .card-title-aon {
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/*TIENDA*/
body .page-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body .page-title .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  body .page-title .title {
    font-size: 2rem;
  }
}
body main .container {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  body main .container .row {
    display: grid;
    grid-template-columns: 1;
  }
}
@media screen and (max-width: 650px) {
  body main .container .row {
    display: grid;
    grid-template-columns: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 450px) {
  body main .container .row {
    display: grid;
    grid-template-columns: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
}
body main .container .row .carousel-text {
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*CONTACTO*/
body .page-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body .page-title .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  body .page-title .title {
    font-size: 2rem;
  }
}
body main #formContainer {
  margin-bottom: 50px;
  margin-top: 50px;
  display: grid;
  justify-items: center;
}
body main #formContainer .form-title {
  font-family: "Josefin Sans", sans-serif;
}
body main #formContainer #form {
  display: grid;
  justify-items: start;
}
body main #formContainer #form .col-3 {
  margin-top: 15px;
  width: 200px;
}
body main #formContainer #form .col-md-6 {
  margin-top: 15px;
}
body main #formContainer #form .col-md-6 #inputEmail4:invalid {
  background-color: white;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
  width: 300px;
}
@media screen and (max-width: 450px) {
  body main #formContainer #form .col-md-6 #inputEmail4:invalid {
    width: 200px;
  }
}
body main #formContainer #form .col-md-9 {
  margin-top: 15px;
}
body main #formContainer #form .col-md-9 #inputMessage {
  width: 600px;
  height: 300px;
}
@media screen and (max-width: 650px) {
  body main #formContainer #form .col-md-9 #inputMessage {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  body main #formContainer #form .col-md-9 #inputMessage {
    width: 200px;
    height: 200px;
  }
}
body main #formContainer #form .col-12 {
  margin-top: 15px;
  margin-bottom: 15px;
}
body main #formContainer #form .button {
  margin-top: 30px;
}

.pieDePagina {
  margin-top: 30px;
  height: 90px;
  width: 100%;
}
.pieDePagina .contenedorfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pieDePagina .contenedorfooter .linkRedSocial {
  text-decoration: none;
}
.pieDePagina .contenedorfooter .linkRedSocial .icon {
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 450px) {
  .pieDePagina .contenedorfooter .linkRedSocial .icon {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    margin-right: 6px;
  }
}
.pieDePagina .zoom {
  transition: transform 0.2s;
}
.pieDePagina .zoom:hover {
  transform: scale(1.5);
}

/*# sourceMappingURL=estilos.css.map */
