/*BIO*/
@use "./_mediaqueries.scss" as *;
main{
    #carouselExample{
        margin-left: 5%;
        margin-right: 5%;
        }
        .contenedorTextoBio{
        font-family: Roboto;
        margin: 5% 5% 5% 5%;
        display: grid;
        grid-template-columns: 1;
        }
}