/*CONTACTO*/
@use "./_mediaqueries.scss" as *;

main{
    #formContainer{
        margin: 5% 5% 5% 5%;
        display: grid;
        justify-items: center;
        #form{
            display: grid;
            justify-items: start;
                .col-3{
                    margin-top: 15px;
                }
                .col-md-6{
                    margin-top: 15px;
                    #inputEmail4:invalid{
                        background-color: white;
                        border: none;
                        outline: 2px solid red;
                        border-radius: 5px;
                    }
                }
                .col-md-9{
                    margin-top: 15px;
                    #inputMessage{
                        @include tablet{
                            width: 700px;
                        }
                        @include intermediate{
                            width: 500px;
                        }
                        @include mobile{
                            width: 300px;
                        }
                    }
                
                }
                .col-12{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .button{
                    margin-top: 30px;
                }
            }
        }
}