/*CONTACTO*/
@use "./_mediaqueries.scss" as *;
body{
    .page-title{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .title{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3rem;
            @include mobile{
                font-size: 2rem;
            }
        }
    }
    main{
        #formContainer{
            .form-title{
                font-family: 'Josefin Sans', sans-serif;
            }
            margin-bottom: 50px;
            margin-top: 50px;
            display: grid;
            justify-items: center;
            #form{
                display: grid;
                justify-items: start;
                    .col-3{
                        margin-top: 15px;
                        width: 200px;
                    }
                    .col-md-6{
                        margin-top: 15px;
                        #inputEmail4:invalid{
                            background-color: white;
                            border: none;
                            outline: 2px solid red;
                            border-radius: 5px;
                            width: 300px;
                            @include mobile{
                                width: 200px;
                            }
                        }
                    }
                    .col-md-9{
                        margin-top: 15px;
                        #inputMessage{
                            width: 600px;
                            height: 300px;
                            @include intermediate{
                                width: 400px;
                                height: 200px;
                            }
                            @include mobile{
                                width: 200px;
                                height: 200px;
                            }
                        }
                    
                    }
                    .col-12{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .button{
                        margin-top: 30px;
                    }
                }
            }
    }
}
