@use "./_mediaqueries.scss" as *;

.pieDePagina{
    margin-top: 30px;
    height: 90px;
    width: 100%;
    .contenedorfooter{
        display: flex;
        justify-content: center;
        align-items: center;
            .linkRedSocial{
                text-decoration: none;
                .icon{
                    margin-left: 8px;
                    margin-right: 8px;
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    @include mobile{
                        width: 30px;
                        height: 30px;
                        margin-left: 6px;
                        margin-right: 6px;
                    }
                }
            }
    }
    .zoom {
        transition: transform .2s;
        }
        .zoom:hover {
        transform: scale(1.5);
        }
}

