@use "./_mediaqueries.scss" as *;
@use "variables";

.navbar{
    width: 100%;
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .imgnav{
            margin-left: 40px;
            max-height: 40px;
            @include mobile{
                height: 25px;
            }
        }
        .navbar-toggler{
            color: white;
            margin-right: 30px;
            .navbar-toggler-icon{
                color: white;
            }
        }
        .navbar-nav{
            text-align: right;
            justify-content: space-between;
            .nav-link{
                text-align: end;
                margin-right: 10px;
                font-size: 15px;
                font-family: raleway
            }
        }
    } 
}
