@use "./_mediaqueries.scss" as *;
@use "variables";

/*INDEX*/

*{
    margin: 0;
    padding: 0;
}

main{
    .principal{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        display: flex;
        justify-content: center;
        .contenedorPortada{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1400px;
            
            .portadaRdt{
                width: 100%;
                justify-content: center;
                align-items: center;
                @include tablet{
                    width: 100%;
                }
                @include intermediate{
                    width: 100%;
                }
                @include mobile{
                    width: 100%;
                }
            }
        }
        
    }
    .mediaContainer{
        margin-top: 30px;
        display: flex;
        align-content: center;
        justify-content: space-around;
        .spotifyIndex{
            width: 350px;
            align-self: center;
            @include mobile{
                width: 270px;
            }
        }
        .videoclipIndex{
            @include mobile{
                display: none;
            }
        }
        @include tablet{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include intermediate{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include mobile{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.pieDePagina{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    .icon{
        width: 30px;
        height: 30px;
    }
}

