/*MÚSICA*/
@use "./_mediaqueries.scss" as *;


.zoom:hover {
    transform: scale(0.9);
    transition: transform .3s;
    }

body{
    .page-title{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .title{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3rem;
            @include mobile{
                font-size: 2rem;
            }
        }
    }
    main{
        .section-title{
            font-family: raleway;
            font-size: 1rem;
            @include mobile{
                font-size: 0.7rem;
            }
        }
        display: grid;
        justify-items: center;
        .portadas-albums{
            margin-top: 30px;
            width: 80%;
            height: auto;
            .font{
                font-family: raleway;
            }
            .card-title{
                text-align: center;
                font-family: 'Josefin Sans', sans-serif;
            }
        }
    }
    .ahoraonunca{
        display: grid;
        justify-items: center;
        margin-bottom: 40px;
        .card{
            margin-top: 30px;
            margin-bottom: 50px;
            width: 80%;
            height: auto;
        }
        .card-title-aon{
            font-size: large;
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
        }
        
    }
}
